html {
    scroll-behavior: smooth;
}
body {
    font-family: "Oxanium", cursive;
    background: white;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 100px;
}
.starting-div {
    background-color: #222322;
    width: 100%;
    text-align: center;
    overflow: auto;
    align-items: center;
}
.title {
    float: left;
    margin-left: 44vw;
    margin-top: 2vw;
    font-size: 2vw;
    color: white;
}
.second-title {
    margin-top: 2vw;
    font-size: 4vw;
    color: white;
}
.under-title {
    color: #DADADA;
    font-size: 1vw;
}
.profile {
    width: 200px;
    height: 200px;
    margin: auto;
}
.slider {
    width: 60vw;
    text-align: center;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    position: relative;
}
.slides {
    display: block;
    width: 60vw;
    height: 40vw;
    position: relative;
    scroll-behavior: smooth;
    overflow: hidden;
}
#slide1 {
    width: 60vw;
    height: 40vw;
    position: absolute;
    left: 0;
    scroll-behavior: smooth;
    background-color: #222322;
    transition: all 0.3s ease-in-out;
}
#slide2 {
    width: 60vw;
    height: 40vw;
    position: absolute;
    left: 60vw;
    scroll-behavior: smooth;
    background-color: #222322;
    transition: all 0.3s ease-in-out;
}
#slide3 {
    width: 60vw;
    height: 40vw;
    position: absolute;
    scroll-behavior: smooth;
    background-color: #222322;
    left: 120vw;
    transition: all 0.3s ease-in-out;
}
#slide4 {
    width: 60vw;
    height: 40vw;
    position: absolute;
    scroll-behavior: smooth;
    background-color: #222322;
    left: 180vw;
    transition: all 0.3s ease-in-out;
}
#slide5 {
    width: 60vw;
    height: 40vw;
    position: absolute;
    scroll-behavior: smooth;
    background-color: #222322;
    left: 0vw;
    transition: all 0.3s ease-in-out;
}
#slide6 {
    width: 60vw;
    height: 40vw;
    position: absolute;
    scroll-behavior: smooth;
    background-color: #222322;
    left: 60vw;
    transition: all 0.3s ease-in-out;
}
#slide7 {
    width: 60vw;
    height: 40vw;
    position: absolute;
    scroll-behavior: smooth;
    background-color: #222322;
    left: 120vw;
    transition: all 0.3s ease-in-out;
}
#slide8 {
    width: 60vw;
    height: 40vw;
    position: absolute;
    scroll-behavior: smooth;
    background-color: #222322;
    left: 180vw;
    transition: all 0.3s ease-in-out;
}
.desc-pic {
    width: 20vw;
}
.desc-pic2 {
    width: 20vw;
    position: absolute;
    left: 3vw;
    border-radius: 50%;
}
.slide-title1 {
    font-size: 3vw;
    color: #ABABAB;
}
.slide-desc {
    font-size: 2vw;
    color: #ABABAB;
    position: absolute;
    left: 23vw;
    top: 10vw;
}
.slide-button {
    position: absolute;
    right: 5vw;
    width: 10vw;
    bottom: 2vw;
    font-size: 1.5vw;
    background-color: white;
    color: #222322;
    border-style: solid;
    border-radius: 1vw;
    border-color: transparent;
}
.navigation-button {
    text-decoration: none;
    -webkit-tap-highlight-color: none;
    color: #222322;
}
.dndbot {
    color: #222322;
    text-align: center;
    margin-top: 5vw;
}
.title2 {
    margin-top: 2vw;
    font-size: 4vw;
    color: #222322;
}
.pic {
    display: block;
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
}
.pic2 {
    display: block;
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.desc {
    margin-left: 15vw;
    width:70vw;
    font-size: 1.5vw;
    background-color: #222322;
    color: #ABABAB;
    padding: 1vw;
    border-style: solid;
    border-radius: 2vw;
    border-color: transparent;
}
.hyperlink {
    text-align: center;
    font-size: 1.5vw;
    background-color: #222322;
    color: #ABABAB;
    border-style: solid;
    border-radius: 1vw;
    border-color: transparent;
    padding: 0.5vw;
    margin-left: auto;
    margin-right: auto;
    width: 11vw;
}
.wrapper {
    position: relative;
}
.language {
    float:right;
    width: 5vw;
    border-radius: 1vw;
    margin-top: 1vw;
}
.language-a {
    position: absolute;
    right: 2vw;
    top: 2vw;
}
.checkbox {
    position: relative;
    float: right;
    right: 12vw;
    top: 1.8vw;
    border-radius: 20px;
    border-color: white;
    border-width: 20px;
}
.checkbox:before {
    content:'';
    position: absolute;
    width: 60px;
    height: 25px;
    background-color: white;
    border-radius: 2px;
    border-color: white;
    border-width: 20px;
}
.checkbox:checked:before {
    background-color: white;
}
.checkbox:after {
    content:'';
    position: absolute;
    left: 0;
    width: 30px;
    height: 25px;
    background-color: #222322;
    border-radius: 25px;
    transition: 0.25s ease-in-out;
    border: 2px solid #222322;
    box-sizing: border-box;
}
.checkbox:checked:after {
    left: 30px;
    border: 2px solid #222322
}
.language2 {
    position: relative;
    float:right;
    width: 5vw;
    border-radius: 1vw;
    right: 20vw;
    top: 1vw;
}
.diva {
    width: 100%;
    height: 100%;
    background-color: #222322;
    overflow: auto;
}
.outer {
    width: 95%;
    background-color: #222322;
    text-align: center;
    margin-left: 2.5%;
    margin-top: 60px;
    border: 5px solid #222322
}
.main_logo {
    width: 300px;
}
.inner {
    width: 100%;
    background-color: #393a39;
    padding-bottom: 30px;
}
.inner img {
    width: 250px;
    margin: 15px;
}
.inner td {
    color: #e5e5e5;
}
.desc_div {
    width: 91.65%;
    margin-left: 2.5%;
    margin-top: 0;
    background-color: #222322;
    color: #e5e5e5;
    font-size: 20px;
    border-top: none;
    text-align: left;
}
.test {
    display: none;
    width: 91.65%;
    margin-left: 2.5%;
    margin-top: 0;
    background-color: #222322;
    color: #e5e5e5;
    font-size: 20px;
    border-top: none;
    text-align: left;
    padding: 2%;
    border-top: none;
    text-align: left;
    font-size: 20px;
    height: 50px;
}
#dc_desc, #chrome_desc, #mobile_desc, #html_desc, #dc_desc2, #chrome_desc2, #mobile_desc2, #html_desc2 {
    height: 0;
    transition: all 0.3s ease-in-out;
}