body {
    text-align: center;
    background-color: #1F201F;
    color: #D8DCDA;
    width: 300px;
    height: 100px;
}
.logo {
    width: 10vw;
    height: 10vw;
}
a {
    text-decoration: none;
    -webkit-tap-highlight-color: none;
    color: #D8DCDA;
}
a h2 {
    text-decoration: none;
    -webkit-tap-highlight-color: none;
    color: #D8DCDA;
}