body {
    background-color: #44f;
    margin: 0;
    padding: 0;
}
#canvas {
    margin-left: 30px;
    margin-top: calc((100vh - 650px) / 2);
    background-color: blueviolet;
    width: 1000px;
    height: 650px;
}
#up, #right, #left, #down {
    width: 70px;
    height: 70px;
    line-height: 70px;
    font-size: 55px;
    background-color: orange;
    border: none;
    outline: none;
    color: #e5e5e5;
}
#up:hover, #right:hover, #left:hover, #down:hover {
    background-color: darkgoldenrod;
}
#up {
    transform: rotate(-90deg);
}
#down {
    transform: rotate(90deg);
}
table {
    background-color: blueviolet;
    border-radius: 10px;
}
#stats {
    position: absolute;
    top: calc((100vh - 650px) / 2);
    right: 30px;
    width: 400px;
    height: 200px;
    font-size: x-large;
    color: #e5e5e5;
}
.clear {
    position: absolute;
    top: calc((100vh - 650px) / 2 + 250px);
    right: 30px;
    width: 400px;
    background-color: blueviolet;
    height: 50px;
    color: #e5e5e5;
    border-radius: 10px;
}
.clear div {
    float: left;
    width: 200px;
    margin: 0;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    transition: all .3s ease-in-out;
    border-radius: 10px;
}
.clear div:hover {
    background-color: blue;
    border-radius: 10px;
}
#cost:hover {
    background-color: blueviolet !important;
}
#controls {
    position: absolute;
    top: calc((100vh - 650px) / 2 + 350px);
    right: 80px;
    width: 300px;
    text-align: center;
    height: 300px
}
#selfHit {
    width: 400px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    border-radius: 10px;
    position: absolute;
    top: -100px;
    left: 0;
    background-color: green;
    color: #e5e5e5;
    transition: all .3s ease-in-out;
    transform: translate(-50%, -50%);
}
#wallHit {
    width: 400px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    border-radius: 10px;
    position: absolute;
    top: -100px;
    left: 0;
    background-color: green;
    color: #e5e5e5;
    transition: all .3s ease-in-out;
    transform: translate(-50%, -50%);
}
#reload {
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 35px;
    border-radius: 10px;
    position: absolute;
    top: -100px;
    left: 0;
    background-color: green;
    color: #e5e5e5;
    transition: all .3s ease-in-out;
    transform: translate(-50%, -50%);
}
#reload:hover {
    background-color: greenyellow;
}